.nav-bar {
  background-color: #4056A1;
  color:#FFFFFF;
  height:120px;
  width:100%;
  display: flex;
  justify-content: space-between;
  padding-right: 1.5em;
  padding-bottom: 0.5em;
  padding-left: 1.5em;
  align-items: flex-end;
  position: fixed;
}
.logo {
  font-family: "bungee", sans-serif;
  font-size: 2em;

}
.new-tweet-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  font-family: "Source Sans 3", sans-serif;
  font-size: 1em;
}

  /* Another tablet breakpoint is maximum width of 1024px */
  @media only screen and (max-width: 1024px) {
    .nav-bar{
      background-color: #f4f1ec00;
    }
    }
  
@media only screen and (min-width: 1024px) {
  nav{ 
   background-color: #4056A1;
  }
 
  body{
   display: flex;
   flex-direction: row;
  }
  .header{
    width: 30%;
  }
}

