.tweet-container{
  width: 100%;
  font-family: "Source Sans 3", sans-serif;
}


.tweet {
  padding: 2%;
  margin-bottom: 2em;
  gap: 1em;
  width: 100%;
  border: 5px solid #545149;
}


.tweet:hover {
  box-shadow: 10px 10px #b9b8b8a1;
}

.user{
  display: flex;
  height: 25%;
  justify-content: space-between;
}

.avatar-name{
  display: flex;
  flex-direction: row;
  font-size:xx-large;
  height: 25%;
  align-items: flex-start;

}
.avatar{
width: 2em;
height: auto;
padding-right: 5%;

}

.handle{
  color:rgb(216, 206, 216);
  padding-right: 2em;
  font-weight: bold;
}
.contents{
  padding-top: 2em;
  padding-bottom: 2em;
  overflow-wrap: break-word;
}

.tweet-footer{
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  border-top: 5px solid #545149;
  padding-top: 1em;
}

.icons{
  padding-right: 2em;
}

.fa-solid:hover{
  color: rgb(161, 134, 9)
}